@import "mixins.less";
@import "font-awesome.less";

@default_font: sans-serif;
@monospaced: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

@google_blue: #0048f1;
@twitter_blue: #57bcff;
@google_red: #ea2434;
@google_orange: #f8a912;
@google_green: #01a514;

@paper: #222;
@text: #999;
@tweet: #fff;

.clearing { clear: both; display: block; content: "."; height: 0; visibility: hidden; }

* { margin: 0; padding: 0; }
a {
	color: @google_orange;
	text-decoration: none;
	outline: none;
	img { border: none; vertical-align: middle; }
}

body {
	background: @paper;
    height: 100%;
	color: @text;
	font-family: @default_font;
    font-size: 16px;
	.page { padding: 1em; }
}

h1 {
	background: url(/static/img/tw.png) no-repeat;
	padding-left: 2.7em;
	font-size: 2em;
	line-height: 2.5em;
	a {
		color: @text;
		&:hover { color: @google_orange; }
		&.next { float: right; }
	}
}

p {
	margin: 1em 0;
	&.error { color: @google_red; }
	&.tweet {
		min-height: 3em;
		img { float: left; }
		span {
			display: block;
			padding-left: 3.8em;
			color: @tweet;
			> span { display: inline; padding: 0; color: @text; }
		}
		a.hash { color: @google_green; }
		a.reply, a.retweet, a.post, a.cancel { color: @twitter_blue; }
		a.post, a.cancel { display: none; }
	}
}

input {
	width: 65%;
	font-size: 2em;
	color: @google_green;
    background: transparent;
	border: none;
}
textarea {
	display: block;
	&.text { display: none; }
}

