.debug(@var) {
	&:after {
		content: "@{var}";
		font-size: 1em;
		background-color: white;
		padding: 0.5em;
		color: red;
		position: absolute;
		top: 0;
		left: 30%;
		z-index: 10000;
	}
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
	-webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
	-moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
	box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.box-sizing(@args){
	-webkit-box-sizing: @args;
	-moz-box-sizing: @args;
	box-sizing: @args;
}
.border-radius(@args) {
	-webkit-border-radius: @args;
	-moz-border-radius: @args;
	border-radius: @args;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.rounded_top (@args: 4px) {
	border-top-right-radius: @args;
	-moz-border-radius-topright: @args;
	-webkit-border-top-right-radius: @args;
	border-top-left-radius: @args;
	-moz-border-radius-topleft: @args;
	-webkit-border-top-left-radius: @args;
}
.rounded_left_reset {
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
}
.transition-property(...) {
	@props: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;
	-webkit-transition-property: @props;
	-moz-transition-property: @props;
	-o-transition-property: @props;
	transition-property: @props;
}
.animation(@args) {
	-webkit-animation: @args;
	-moz-animation: @args;
	-ms-animation: @args;
	-o-animation: @args;
}
.animation-delay(@delay) {
	-webkit-animation-delay: @delay;
	-moz-animation-delay: @delay;
	-ms-animation-delay: @delay;
	-o-animation-delay: @delay;
}
.transform(@args) {
	-webkit-transform: @args;
	-moz-transform: @args;
	-ms-transform: @args;
	-o-transform: @args;
	transform: @args;
}
.transition-duration(@duration: 200ms) {
	-webkit-transition-duration: @duration;
	-moz-transition-duration: @duration;
	-o-transition-duration: @duration;
	transition-duration: @duration;
}