@import "mixins";

@default_font: sans-serif;
@monospaced: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

@google_blue: #0048f1;
@twitter_blue: spin(@google_blue, -20); // #57bcff;
@google_red: #ea2434;
@google_orange: #f8a912;
@google_green: #01a514;

@paper: #000;
@text: #999;
@gap: 80px;
@menuOffset: 384px;

.clearing {
	&:after { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
}
.black_shadow { text-shadow: -1px -1px 1px fade(black, 25%); }
.top_anchor {
	margin: 0 !important;
	padding: 16px;
	font-size: 56px;
}

* { margin: 0; padding: 0; .box-sizing(border-box); }
html, body { width: 100%; min-height: 100%; }
a {
	color: @google_orange;
	text-decoration: none;
	outline: none;
	.transition(0.3s);
	img { border: none; vertical-align: middle; }
}
a.twit { color: @twitter_blue; }
a.hash { color: @google_green; }

body {
	background: @paper;
	color: @text;
	font-family: @default_font;
    font-size: 16px;
}

// http://codepen.io/chriscoyier/pen/umEgv?editors=110
nav#main-nav {
	position: fixed;
	padding: @gap 1em 1em 1em;
	top: 0;
	left: -@menuOffset;
	width: @menuOffset;
	height: 100%;
	background: fade(white, 10%);
	z-index: 1;
	.transition(transform, .5s);
	&:target, &:target ~ #main {
		.transform(translate3d(@menuOffset,0,0));
	}
	&:target ~ header {
		.open { display: none; }
		.close { display: block; }
	}
	p {
		margin: 0.5em 0; font-size: 90%;
		&.error { color: @google_red; }
	}
	form {
		margin: 1em 0;
		label {
			display: block;
			font-size: 1.5em;
			margin-bottom: 0.5em;
		}
		input {
			width: 100%;
			padding-right: 1em;
			font-size: 1.5em;
			color: @twitter_blue;
			background: transparent;
			border: none;
		}
	}
	footer {
		display: block;
		position: absolute;
		right: 16px;
		bottom: 2em;
		font-size: 90%;
	}
}

header {
	position: fixed;
	width: 100%;
	height: @gap;
	z-index: 1;
	color: @twitter_blue;
	background: darken(@google_blue, 10%) url(/static/img/overlay.png);
	.drop-shadow(0, 1px, 10px, 0.5);
	a {
		color: @twitter_blue;
		.black_shadow;
		&:hover { color: white; }
		&.fa-bars, &.fa-refresh {
			.top_anchor;
			&.open { display: block; }
			&.close { display: none; }
		}
	}
	h1 {
		padding: 20px 16px;
		font-size: 48px;
		line-height: 1;
	}
}

article#main {
	padding: @gap 1em 1em 1em;
	.transition(transform, .5s);
	.tweet {
		margin: 1em 0;
		min-height: 56px;
		img { float: left; margin-top: 0.2em; }
		p {
			padding-left: 64px;
			span {
				display: inline-block;
				margin: 0.3em 0;
				color: white;
			}
		}
		.fa-map-marker { color: @google_red; }
	}
}

.noresults {
	margin: 2em 0;
	padding: 2em;
	font-size: 1.5em;
	background: fade(@twitter_blue, 80%);
	color: white;
}
#message {
	margin: 2em 0;
	padding: 1em;
	background: darken(@google_red, 30%);
	&.error { color: white; }
}