@default_font: sans-serif;
@monospaced: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

@google_blue: #0048f1;
@twitter_blue: #57bcff;
@google_red: #ea2434;
@google_orange: #f8a912;
@google_green: #01a514;

@paper: #222;
@text: #999;
@white: #fff;

.debug(@var) {
	&:after {
		content: "@{var}";
		font-size: 1em;
		background-color: white;
		padding: 0.5em;
		color: red;
		position: absolute;
		top: 0;
		left: 30%;
		z-index: 10000;
	}
}
.clearing {
	&:after { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
}

* { margin: 0; padding: 0; }
a {
	color: @google_orange;
	text-decoration: none;
	outline: none;
	img { border: none; vertical-align: middle; }
}

body {
	background: @paper;
	width: 100%;
    height: 100%;
	color: @text;
	font-family: @default_font;
    font-size: 16px;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1;
	background: lighten(@paper, 5%);
	color: @twitter_blue;
	p {
		position: absolute;
		margin: 0;
		top: 4.5em;
		left: 6.5em;
	}
	h1 {
		background: url(/static/img/tw.png) no-repeat 0.5em 0.5em;
		padding: 0.5em 0.5em 0 3.2em;
		font-size: 2em;
		font-weight: normal;
		line-height: 2.5em;
		select {
			font-size: inherit;
			background: transparent;
			color: @twitter_blue;
			border: none;
			option { background: @paper; }
		}
		a {
			color: @twitter_blue;
			&:hover { color: darken(@twitter_blue, 20); }
		}
	}
	form { padding: 0 1em 1em 1em; white-space: nowrap;
		input {
			width: 50%;
			font-size: 2em;
			color: @twitter_blue;
			background: @paper;
			border: none;
		}
		small { float: right; text-align: center; }
	}
}
article { position: relative; padding: 9.5em 1em 1em 1em; }

p {
	margin: 1em 0;
	&.error { color: @google_red; }
	&.success { color: @twitter_blue; }
	&.tweet {
		min-height: 3em;
		img { float: left; }
		span {
			display: block;
			padding-left: 3.8em;
			color: @white;
			small { color: @text; }
		}
		a.hash { color: @google_green; }
	}
}