<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
</head>
<body>
    <div class="page">
        <h1>
            <a href="/">{{ title }}</a>
            {% block paginator %}{% endblock %}
        </h1>
        <form action="/" method="get">
            <p>
                <i class="icon-search icon-2x" style="display: inline-block; margin: 0 1em 0 0.7em;"></i>
                <input type="text" name="q" value="{{ query }}">
            </p>
        </form>
        {% block content %}{% endblock %}
    </div>
    <script src="/static/zepto.min.js"></script>
    <script>
        $('.reply').on('click', function() {
            $(this).closest('.tweet').find('.text, .post, .cancel').toggle();
        });
        $('.cancel').on('click', function() {
            $(this).closest('.tweet').find('.text, .post, .cancel').toggle();
        });
        $('.post').on('click', function() {
            var tweet = $(this).closest('.tweet')[0];
            var from = $(tweet).find('.from').text();
            var text = $(tweet).find('.text').val(); // 140 chars max
            $.post('/reply', {id: tweet.id, from: from, text: text}, function(data, status, xhr) {
                if (status == 'success') {
                    $(tweet).find('.text, .post, .cancel').toggle();
                }
            })
        });
        $('.retweet').on('click', function() {
            var tweet = $(this).closest('.tweet')[0];
            $.post('/retweet', {id: tweet.id}, function(data, status, xhr) {
                var json = JSON.parse(data);
                if (status != 'success') {
                    $('#error').text(data.message);
                }
            })
        });
    </script>
</body>
</html>