<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>LAJNA</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link type="image/x-icon" rel="shortcut icon" href="/static/img/favicon.ico"/>
</head>
<body>
    <div class="wrapper">
        <nav id="main-nav">
            <form action="/" method="post">
                <input type="text" name="place" id="place" value="{{ city.name }}"
                       placeholder="<Enter>" onfocus="this.value=''">
                <label for="place">Type-in place, or leave blank to get place from request IP address.</label>
            </form>
            <form action="/" method="get">
                <input type="text" name="q" id="search" value="{{ query }}"
                       placeholder="<Enter>" onfocus="this.value=''">
                <label for="search">Search within {{ radius }}.</label>
            </form>
            {% for flash in flashes %}<p class="{{ flash.1 }}">{{ flash.0 }}</p>{% endfor %}
            <footer>
                <a class="twit" href="https://twitter.com/@mandrej" target="_blank">@mandrej</a>, 2013-{{ year() }}
            </footer>
        </nav>
        <header>
            <a href="#main-nav" class="fa fa-bars pull-left open"></a>
            <a href="#" class="fa fa-bars pull-left close"></a>
            <a href="?{{ paremeters }}" class="fa fa-chevron-circle-down pull-right"></a>
            <h1><a href="/">LAJNA</a></h1>
        </header>
        <article id="main">
            {% block content %}{% endblock %}
        </article>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-40498368-1', 'gatwitbot.appspot.com');
        ga('send', 'pageview');
    </script>
</body>
</html>