<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>LAJNA</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <header>
        <label for="swipe" data-function='swipe' class="fa fa-bars pull-left"></label>
        {% block paginator %}{% endblock %}
        <h1><a href="/">LAJNA</a></h1>
    </header>
    <div id="wrapper">
        <input type="checkbox" id="swipe" data-function="swipe"/>
        <nav class="menu">
            <form action="/" method="post">
                <label for="place">Type-in place</label>
                <input type="text" name="place" id="place" value="{{ city.name }}" placeholder="<Enter>">
            </form>
            <p>or leave blank to get place from request.</p>
            <form action="/" method="get">
                <label for="search">Search within {{ radius }}</label>
                <input type="text" name="q" id="search" value="{{ query }}" placeholder="<Enter>">
            </form>
{#            <p>{{ city.geocode }}</p>#}
            {% if error %}<p>{{ error|safe }}</p>{% endif %}
            <footer><a href="https://twitter.com/@mandrej">@mandrej</a>, 2013-{{ year() }}</footer>
        </nav>
        <article id="main">{% block content %}{% endblock %}</article>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-40498368-1', 'gatwitbot.appspot.com');
        ga('send', 'pageview');
    </script>
</body>
</html>