<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>General Error</title>
    <style type="text/css">
        body { background: #333; color: #999; font-family: sans-serif; }
        h1 { color: #ea2434; }
        div {
            text-align: center;
            margin: 200px auto; width: 300px; padding: 15px 30px;
            background: #222;
        }
        a { color: #f8a912; text-decoration: none; }
    </style>
</head>
<body>
    <div>
        <h1>General Error</h1>
        <p>Google App Engine error.</p>
        <p><a href="/">Try again later</a>.</p>
    </div>
</body>
</html>