{% extends "base.html" %}

{% block paginator %}
    <a href="{{ collection.refresh_url }}" class="fa fa-refresh fa-2x pull-right"></a>
{% endblock %}

{% block city %}
    <select name="city">
        {% for place, loc in cities.items() %}
            <option {% if place == city %}selected{% endif %} value="{{ place }}">{{ place }}</option>
        {% endfor %}
    </select>
    <script>
        $(function() {
            $('select[name=city]').change(function() {
                $.post('/', {city: $(this).val()}, function(response) {
                    if (response) location.href = '/';
                });
            })
        })
    </script>
{% endblock %}

{% block content %}
    {% for obj in collection %}
        <p id="{{ obj.id }}" class="tweet">
            <a href="https://twitter.com/{{ obj.user.screen_name }}">
                <img src="{{ obj.user.profile_image_url }}">
            </a>
            <span>
                <small>{{ obj.source }}, {{ obj.created_at|timesince }},
                    {% if obj.coordinates %}
                        <i class="fa fa-map-marker"></i>
                        {{ obj.coordinates|geo_address }}
                    {% else %}
                        {{ obj.user.location }}
                    {% endif %}
                </small><br>
                <a href="https://twitter.com/{{ obj.user.screen_name }}" class="from">@{{ obj.user.screen_name|default }}</a>
                {{ obj.user.friends_count }} friends,
                {{ obj.user.followers_count }} followers<br>
                {{ obj.text|twitterize|urlize }}
{#                <br>{{ obj.entities|pprint }}#}
{#                <br><small>{% for k,v in obj.__dict__.items() %}{{ k }}: {{ v|pprint }}, {% endfor %}</small>#}
            </span>
        </p>
    {% else %}
        <p>No search results</p>
    {% endfor %}
{% endblock %}