{% extends "base.html" %}

{% macro render_tweet(obj, level=0) %}
    <div id="{{ obj.id }}" class="tweet" style="margin-left: {{ '%spx' % (32 * level) }}">
        <a href="/timeline/{{ obj.user.screen_name }}?max_id={{ obj.id }}">
            <img src="{{ blank }}" style="background: url({{ obj.user.profile_image_url }})">
        </a>
        <p>
            <a class="twit" href="http://twitter.com/{{ obj.user.screen_name }}">
                @{{ obj.user.screen_name|default }}
            </a>
            <small>
                {{ obj.user.friends_count }} friends, {{ obj.user.followers_count }} followers,
                {{ obj.retweet_count }} retweets, {{ obj.favorite_count }} favorites
            </small>
            <br>
            <span>{{ obj.text|twitterize|urlize }}</span>
            <br>
            <small>{{ obj.created_at|timesince }}, {{ obj.source }}, {{ obj.user.location }}</small>
        </p>
    </div>
    {% set level = level + 1 %}
    {% if obj.in_reply_to_status_id and level < thread_level %}
        {% set thread = obj.in_reply_to_status_id|get_status %}
        {% if thread %}
            {{ render_tweet(thread, level) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% block content %}
    {% for obj in tweets %}
        {{ render_tweet(obj) }}
{#        {% if obj.retweeted_status %}#}
{#            {{ render_tweet(obj.retweeted_status, 1) }}#}
{#        {% endif %}#}
    {% else %}
        <p class="noresults">No results</p>
    {% endfor %}
{% endblock %}